{% block content %}
<section name="Chatbox">
    <button type="button" class="btn btn-primary btn-lg" id="popup" onclick="popup()">Chatbox</button>
    <div class="wrapper">
        <div class="chat-box " id="cb">
            <div class="chat-head">
                <h2>Chat</h2> <img src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png"
                    title="Expand Arrow" width="16" onclick="popdown()">
            </div>
            <div class="chat-body">
                <div class="msg-insert" id="user">
                </div>
                <div class="chat-text">
                    <form onSubmit="sendChat(); return false;">
                        <input type="text" id="chatbox" placeholder="Type here to chat" />
                    </form>

                </div>

            </div>
        </div>
    </div>
</section>
{% endblock content %}